@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html{
    @apply transition-colors duration-300;
  }
  body{
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
  border: 1px solid transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

.bg-custom-yellow {
  @apply bg-[#FEAA26];
}

.bg-custom-blue{
  @apply bg-[#02c1eb];
}

.bg-custom-dark-gray {
  @apply bg-[#3B424C]
}

.text-custom-dark-gray {
  @apply text-[#3B424C]
}

.bg-custom-light-gray{@apply bg-[#E5E5DD];}